<form ngNativeValidate class="form-label-left" [formGroup]="formUsuario" (ngSubmit)="registrarUsuario()">

    <div class="x_content">

        <div class="x_title">
            <h2>Perfil de Usuario</h2>
            <div class="clearfix"></div>
        </div>


        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- --------------------------------------- Subir imagen usuario ---------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <div class="col-md-3 col-sm-3  profile_left">
            <div class="profile_img">
                <div id="crop-avatar">
                    <!-- Current avatar -->

                    <img class="img-responsive avatar-view" style="width: 200px;" src="assets/images/profile-42914_1280.png" alt="Avatar" title="Change the avatar">


                </div>
            </div>
            <br>
            <a type="button" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>&nbsp; Seleccionar imagen</a>

            <br>
        </div>


        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------- Form Registrar usuario ---------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <div class="col-md-9 col-sm-9">


            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------------- Nombres ----------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="Nombres *" formControlName="nombres" required pattern="[A-Z a-z ñ]*">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------------- Apellidos --------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="Apellidos *" formControlName="apellidos" formControlName="nombres" required pattern="[A-Z a-z ñ]*">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>


            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------------- Cargo ------------------------------------------------ -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" placeholder="Cargo *" formControlName="cargo" required>
                    <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------------------- Rol ----------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->

                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <select class="form-control has-feedback-left" formControlName="rol" (change)="menu($event)" required>
                        <option value="Rol" selected disabled>Rol</option>
                        <option value="Admin">Administrador</option>
                        <option value="User">Usuario</option>
                    </select>
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>

            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------------- Cedula ------------------------------------------------ -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="number" class="form-control has-feedback-left" placeholder="Cedula *" formControlName="cedula" required (change)="validacionLenght(formUsuario.value.cedula, 7, 15, 'pCedula')">
                    <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                    <p style="color: #2a3f54; display: none; padding-top: 5px;" id="pCedula">* Cantidad de caracteres entre 7 y 15</p>
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------- No. Contacto ------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->

                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="number" class="form-control has-feedback-left" placeholder="Número de contacto *" formControlName="telefono" required (change)="validacionLenght(formUsuario.value.telefono, 7, 12, 'pContacto')">
                    <span class="fa fa-phone-square form-control-feedback left" aria-hidden="true"></span>
                    <p style="color: #2a3f54; display: none; padding-top: 5px;" id="pContacto">* Cantidad de caracteres entre 7 y 12</p>
                </div>
            </div>

            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------- Correo Electronico ------------------------------------------ -->
            <!-- ----------------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-md-12 col-sm-12  form-group has-feedback">
                    <input type="email" class="form-control has-feedback-left" placeholder="Correo Electronico *" formControlName="correo" required>
                    <span class="fa fa-envelope-o form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>

            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------------- Contraseña ---------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="password" class="form-control has-feedback-left" placeholder="Contraseña *" formControlName="contrasena" required>
                    <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------- Confirmar Contraseña ---------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->

                <div class="col-md-6 col-sm-6  form-group has-feedback">
                    <input type="password" class="form-control has-feedback-left" placeholder="Confirmar Contraseña *" formControlName="confirmContrasena" required>
                    <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                    <br>
                    <div *ngIf="formUsuario.get('confirmContrasena').touched && (formUsuario.value.contrasena != formUsuario.value.confirmContrasena)">
                        <p style="color: #2a3f54;">* Las contraseñas no coinciden</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ---------------------------------- Permisos y Funcionalidades --------------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="x_content" style="padding-top: 30px;">

        <h1 class="text-center" *ngIf="formUsuario.value.rol !== 'Rol'">{{formUsuario.value.rol | cambioPalabras}}</h1>


        <div class="x_title">

            <h2>Permisos y funcionalidades</h2>
            <!-- <h3 *ngIf="formUsuario.value.rol !== 'Rol' "> {{formUsuario.value.rol}}</h3> -->
        </div>




        <div class="clearfix"></div>
    </div>

    <div class="col-md-12 col-sm-12" *ngIf="menuyPermisos">

        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ----------------------------------------------- menu ------------------------------------------------ -->
        <!-- ----------------------------------------------------------------------------------------------------- -->
        <div *ngFor="let m of menuyPermisos; let i = index" style="padding-bottom: 20px;">

            <div class="row">

                <div class="col-9">
                    <h2>Modulo : {{m.modulo}}</h2>
                </div>
                <div class="col-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [id]="'customSwitch' + i" [checked]="m.activo" (change)="switchModulo($event, i)">
                        <label class="custom-control-label" [for]="'customSwitch' + i"><span *ngIf="m.activo">Activado</span> <span *ngIf="!m.activo">Desactivado</span>   </label>
                    </div>
                </div>



            </div>


            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ---------------------------------------------- Modulos ---------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->
            <div *ngIf="m.activo">
                <table class="table jambo_table">
                    <thead>
                        <tr>
                            <th>Funcionalidades</th>
                            <th>Ver</th>
                            <th>Crear</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Sub Menu ---------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <tr *ngFor="let sm of m.subMenu; let j = index">
                            <th>{{sm.nombre}}</th>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="'ver' + i + j" [checked]="sm.ver" (change)="checkboxPermisos($event, i, j, 'ver')">
                                    <label class="custom-control-label" [for]="'ver' + i + j"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="'crear' + i + j" [checked]="sm.permisos.crear" (change)="checkboxPermisos($event, i, j, 'crear')">
                                    <label class="custom-control-label" [for]="'crear' + i + j"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="'editar' + i + j" [checked]="sm.permisos.editar" (change)="checkboxPermisos($event, i, j, 'editar')">
                                    <label class="custom-control-label" [for]="'editar' + i + j"></label>
                                </div>
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" [id]="'eliminar'+ i + j" [checked]="sm.permisos.eliminar" (change)="checkboxPermisos($event, i, j, 'eliminar')">
                                    <label class="custom-control-label" [for]="'eliminar' + i + j"></label>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------ Boton registrar usuario ---------------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" style="background-color: #26B99A !important;" class="btn btn-success">Registrar Usuario</button>
        </div>
    </div>


</form>