<div class="container-fluid" style="padding-top: 30px;">
    <input class="form-control" type="text" placeholder="Buscar Usuario" aria-label="Search">
</div>
<br>
<div class="container-fluid">
    <button class="btn btn-success" routerLink="/crear-usuario">Registrar Usuario</button>
</div>

<div class="container-fluid">


    <div class="x_panel">
        <div class="x_title">
            <h2>Usuarios Registrados <small>( {{usuarios.length}} )</small></h2>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <table class="table jambo_table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of usuarios">
                        <th *ngIf="u._id !== idUsuario"><img class="img-50 img-circle pointer" [src]="this.apiUrl + '/imagenes/' + u.imagen"></th>
                        <td *ngIf="u._id !== idUsuario">{{u.nombres}}</td>
                        <td *ngIf="u._id !== idUsuario">{{u.apellidos}}</td>
                        <td *ngIf="u._id !== idUsuario">{{u.correo}}</td>
                        <td *ngIf="u._id !== idUsuario">{{u.rol.rol}}</td>
                        <td *ngIf="u._id !== idUsuario" class="text-right">
                            <div *ngIf="u._id !== idUsuario">
                                <button class="btn btn-warning" style="color: white !important;" (click)="editarUsuario(u)" *ngIf="u.rol.rol !== 'Super Admin'"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger" *ngIf="u.rol.rol !== 'Super Admin'" (click)="eliminarUsuario(u)"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



</div>