<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------- FORMULARIO INCRIPCION ----------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<div class="container">
    <div class="abs-center" style="display: flex;
                                   align-items: center;
                                   justify-content: center;
                                   min-height: 100vh;">



        <form action="#">

            <div class="text-center">
                <h1 class="display-4" style="color: grey;">Registrese con nosotros</h1>
            </div>

            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ----------------------------------------- NOMBRE EMPRESA -------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->
            <div class="row pt-3">
                <div class="col-12 form-group">
                    <label for="">Nombre de la empresa</label>
                    <input type="text" class="form-control">
                </div>
            </div>


            <div class="row">


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------------- Codigo ----------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-5 form-group">
                    <label for="">Codigo</label>
                    <input type="text" class="form-control">
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ----------------------------------------------- Nit ------------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-5">
                    <label for="">Nit</label>
                    <input type="text" class="form-control">
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------- Codigo Nit --------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-2">
                    <label for="">Codigo de nit</label>
                    <input type="text" class="form-control">
                </div>

            </div>


            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------------- Telefono ---------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control">
                </div>


                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------- Direccion ---------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Direccion</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ------------------------------------------ Departamento --------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Departamento</label>
                    <input type="text" class="form-control">
                </div>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------------- Ciudad ----------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Ciudad</label>
                    <input type="text" class="form-control">
                </div>
            </div>


            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ---------------------------------------------- Email ------------------------------------------------ -->
            <!-- ----------------------------------------------------------------------------------------------------- -->
            <div class="row">
                <div class="col-12 form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row">

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------- Contraseña --------------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Contraseña</label>
                    <input type="text" class="form-control">
                </div>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------- Confirmar contraseña ----------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="col-6 form-group">
                    <label for="">Confirmar contraseña</label>
                    <input type="text" class="form-control">
                </div>
            </div>


            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- --------------------------------------------- Botones ----------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->

            <div class="text-center pt-3">
                <button type="button" class="btn btn-secondary btn-lg" routerLink="/login">Inicio</button>
                <button type="button" class="btn btn-secondary btn-lg" routerLink="/home">Registrarse</button>
            </div>

        </form>

    </div>
</div>