<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------ MENU LATERAL --------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<app-menu-lateral [usuario]="usuario"></app-menu-lateral>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------- TOP NAVEGATION -------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<app-top-navegation [usuario]="usuario"></app-top-navegation>


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------- CONTENIDO --------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- page content -->
<div class="right_col" style="min-height:1659px" role="main">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <app-titulo></app-titulo>

            <div style="max-height: 100% !important;">
                <router-outlet></router-outlet>
            </div>
        </div>


    </div>
</div>


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------- FOOTER ----------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- <footer>
    <app-footer></app-footer>
</footer> -->