<div class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">

            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------ MENU LATERAL --------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->

            <app-menu-lateral></app-menu-lateral>

            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ----------------------------------------- TOP NAVEGATION -------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->

            <app-top-navegation></app-top-navegation>


            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ------------------------------------------- CONTENIDO --------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- ----------------------------------------------------------------------------------------------------- -->
            <!-- ---------------------------------------------- FOOTER ----------------------------------------------- -->
            <!-- ----------------------------------------------------------------------------------------------------- -->

            <footer>
                <app-footer></app-footer>
            </footer>



        </div>
    </div>
</div>