<form>
    <div class="x_content">

        <div class="x_title">
            <h2>Información Empresa y Representante Legal</h2>
            <div class="clearfix"></div>
        </div>


        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------------- Form Registrar usuario ---------------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->

        <div class="col-md-12 col-sm-12 pb-3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">

                    <!-- ----------------------------------------------------------------------------------------------------- -->
                    <!-- ------------------------------------ Formulario Crear convenio -------------------------------------- -->
                    <!-- ----------------------------------------------------------------------------------------------------- -->



                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Nombres ----------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Nombre Empresa *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-bank form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Dirección --------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Direccion *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ----------------------------------------------- Nit ------------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-9 col-sm-9  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Nit *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- -------------------------------------------- Codigo -nit -------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-3 col-sm-3  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Codigo nit *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Telefono ---------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Telefono *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ----------------------------------------------- Email ----------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Correo electrónico empresa *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ------------------------------------ Nombre representante legal ------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Nombre representante legal *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------------------- Cédula ----------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Cédula *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>


                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------- Número de representante legal ------------------------------------ -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Número de contacto *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ------------------------------- Fecha nacimiento representante legal -------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Fecha de nacimiento *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-gift form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>






                </div>
                <div class="col-1"></div>
            </div>
        </div>


        <div class="x_title">
            <h2>Información de contacto</h2>
            <div class="clearfix"></div>
        </div>


        <!-- ----------------------------------------------------------------------------------------------------- -->
        <!-- ------------------------------- Formulario Informacion de contacto ---------------------------------- -->
        <!-- ----------------------------------------------------------------------------------------------------- -->


        <div class="col-md-12 col-sm-12 pb-3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">

                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Nombres ----------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Nombres *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- Cargo --------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Cargo *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-briefcase form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>


                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- -------------------------------------------- Dirección ---------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Dirección *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ----------------------------------------------- Telefono ----------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Número de contacto *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>

                    <div class="row">

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- ---------------------------------------------- Email ------------------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Correo Electrónico *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>


                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------- Fecha de nacimiento ----------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" placeholder="Fecha de nacimiento *" required pattern="[A-Z a-z ñ]*">
                            <span class="fa fa-gift form-control-feedback left" aria-hidden="true"></span>
                        </div>

                    </div>




                </div>
                <div class="col-1"></div>
            </div>
        </div>


    </div>

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------ Boton registrar usuario ---------------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="text-center">
            <button class="btn btn-success" type="submit" style="background-color: #26B99A !important;"> Crear Convenio</button>
        </div>
    </div>

</form>